<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noticeboard.Board.mapper.ReplyMapper">
    <!-- sql문이 작성되는 공간  -->
    <insert id="newReply" parameterType="com.noticeboard.Board.dto.ReplyDTO">
        INSERT INTO reply(content, originator, board_id)
            VALUE(#{content}, #{originator}, #{board_id})
    </insert>

    <select id="getReplyList" resultType="com.noticeboard.Board.dto.ReplyDTO">
        SELECT id, content, originator, originate FROM reply WHERE board_id = #{id} ORDER BY originate ASC
    </select>

    <delete id="deleteReply" parameterType="Long">
        DELETE FROM reply WHERE id = #{id}
    </delete>

    <update id="editReply">
        UPDATE reply SET content = #{content} WHERE id = #{id}
    </update>
</mapper>