<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noticeboard.Board.mapper.UserMapper">
    <!-- sql문이 작성되는 공간  -->
    <insert id="signup" parameterType="com.noticeboard.Board.dto.UserDTO">
        INSERT INTO user(id, password, name, email, phone, role)
            VALUE(#{id}, #{password}, #{name}, #{email}, #{phone}, #{role})
    </insert>

    <select id="getUserById" parameterType="String" resultType="com.noticeboard.Board.component.CustomUserDetails">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="getUserList" resultType="com.noticeboard.Board.dto.UserDTO">
        SELECT id, password, name, email, phone, role FROM user ORDER BY name DESC
    </select>

    <select id="getUserInfo" parameterType="String" resultType="com.noticeboard.Board.dto.UserDTO">
        SELECT * FROM user where id = #{id}
    </select>

    <update id="editUser" parameterType="com.noticeboard.Board.dto.UserDTO">
        UPDATE user SET name = #{name}, email = #{email}, phone = #{phone}, role = #{role} WHERE id = #{id}
    </update>
</mapper>